@import "tailwindcss";
@plugin "daisyui";






@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}



@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientBorder {
  background-size: 200% 200%;
  animation: gradientBorder 3s linear infinite;
}





/* Enable Smooth Scroll for Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Fix Lag - Force GPU Acceleration */
.will-change-transform {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Smooth out all transitions */
* {
  scrollbar-width: none; /* Hide scrollbar for cleaner look */
}
*::-webkit-scrollbar {
  display: none;
}







.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 242, 255, 0.2);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 242, 255, 0.5);
}




